:root {
    --vh: 1vh;
}

* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    font-family: Montserrat;
    -webkit-tap-highlight-color: transparent;
}

.j-space-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

#root {
    display: flex;
    flex: 1;
    min-height: calc(100 * var(--vh));
    color: #FFF;
}


*::-webkit-tab-highlight {
    border: 5px !important;
    color: #000 !important;
}


*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(193 193 193);
}

*::-webkit-scrollbar-thumb {
    background-color: #86848D;
    border-radius: 20px;
    border: 3px solid rgb(193 193 193);
}